<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ie.tcd.scss.smartdoorlockbe.mapper.AccessCodeMapper">

    <resultMap id="BaseResultMap" type="ie.tcd.scss.smartdoorlockbe.domain.AccessCode">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="deviceId" column="device_id" jdbcType="BIGINT"/>
            <result property="owner" column="owner" jdbcType="VARCHAR"/>
            <result property="validFrom" column="valid_from" jdbcType="TIMESTAMP"/>
            <result property="validTo" column="valid_to" jdbcType="TIMESTAMP"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,device_id,
        owner,valid_from,valid_to,
        created_time
    </sql>
</mapper>
