<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ie.tcd.scss.smartdoorlockbe.mapper.AlertMapper">

    <resultMap id="BaseResultMap" type="ie.tcd.scss.smartdoorlockbe.domain.Alert">
            <id property="alertId" column="alert_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="deviceId" column="device_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        alert_id,username,device_id,
        type,message,created_time
    </sql>
</mapper>
