<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ie.tcd.scss.smartdoorlockbe.mapper.DeviceMapper">

    <resultMap id="BaseResultMap" type="ie.tcd.scss.smartdoorlockbe.domain.Device">
        <id property="deviceId" column="device_id" jdbcType="BIGINT"/>
        <result property="deviceName" column="device_name" jdbcType="VARCHAR"/>
        <result property="isLocked" column="is_locked" jdbcType="TINYINT"/>
        <result property="isConnected" column="is_connected" jdbcType="TINYINT"/>
        <result property="owner" column="owner" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        device_id
        ,device_name,is_locked,
        is_connected,owner,created_time,updated_time
    </sql>
</mapper>
