<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ie.tcd.smartlock.mapper.UserDeviceMergeMapper">

    <resultMap id="BaseResultMap" type="ie.tcd.smartlock.model.entity.UserDeviceMerge">
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="deviceId" column="device_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        username,device_id
    </sql>

</mapper>
